                        :root { --_border: #5f5f5f;  --_dark_first: #3a0000; --separator_light: #ececec; --_light_first: #8b0000; --_first: #660000; --_light_second:#fff7f7; --_second:#FFF3F0; --_third:#868784; --_fourth:#F9DD4D; --_super_dark_fifth:#0a1a29; --_dark_fifth:#0a1a29; --_fifth:#102E4A; --_six:#313628; --_light_seven:#1ebabd; --_seven:#168B8D; }
                        *{font-family: Arial, Geneva, Helvetica, sans-serif;-webkit-user-select: none;}
                        .text-default {color :#757575} .text-primary { color: #4fad8a;}.text-error { color: #dc3545;}.text-success {color: #198754}
                        .text-secondary {color: #757575;}
                        .text-super-light-primary { color: #e11919 }
                        .text-light-primary { color: #66e2b2 }
                        .font-italic { font-style: italic; } 
                        .font-bold { font-weight: bold; } 
                         body { width:100%; background-color: #FFF;margin: 0px; padding: 0px; height: 100%;} 
                        .content{  padding: 1px 20px 20px 15px; } 
                        .indent{margin-left:40px}  .j{text-align:justify;}  .i{font-style: italic;} .c {text-align:center} .p{text-align: justify;}  .r {text-align:right;}
                        .headings{background-color: #4eab87;padding:8px} 
                        .column { float: left; width: 50%; padding: 0px; }
                        .row:after { content: ""; display: table; clear: both; }
                        .mb-0{ margin-bottom:0dp; }
                        .row{ padding-top:20px;margin-bottom:20px; }  
                        .mt-1 {margin-top:10dp;}
                        .verses{ display:none}
                        .button-verse{width:30px;height:30px;background-color:#4eab87;border-color: #00000;display:inline;padding:3px;color:white}
                        .button-verse-ext{display:inline;}
                        .text-sm {font-size:10px;}
                        .highlight-verse{background-color:#fff7bf;color:black}
                        .bullet-none{list-style:none}
                        span{text-align:justify}
                        .sj{text-align: justify; display:block;}
                        .responsive { width: 100%; height: auto;}                       
                        hide {     transition: 1s ease height;   }                        
                        show {    transition: 1s ease height;  }                       
                        .tab {  border-radius: 20px 20px 0px 0px;  overflow: hidden;  border: 1px solid #4fad8a;  background-color: #4fad8a;  color:"#ffffff";   }
                        .tab button {  background-color: inherit; color:#fff; float: left;  border: none;  outline: none;  cursor: pointer;  padding: 14px 16px;  transition: 0.3s;  font-size: 12px;    color:"#ffffff";     }
                        .tab button:hover {   background-color: #68e1b4;    }
                        .tab button.active-2 {   background-color: #3b8166; color:#fff  }  
                        .tabcontent {  display: none;  background-color: #fff;  padding: 6px 12px;  border: 1px solid #ccc;  border-top: none; border-radius: 0px 0px 20px 20px; -webkit-animation: fadeEffect 1s; animation: fadeEffect 1s;   }
                        .tabcontent-2 {   display: none;  background-color: #fff7bf;  padding: 6px 12px;  border: 1px solid #ccc;  border-top: none;  border-radius: 0px 0px 20px 20px;  -webkit-animation: fadeEffect 1s;  animation: fadeEffect 1s;  }                                        
                        @-webkit-keyframes fadeEffect {  from {opacity: 0;}   to {opacity: 1;}   }
                        @keyframes fadeEffect {  from {opacity: 0;}  to {opacity: 1;}  }                                                 
                        .accordion {  background-color: #4eab87;  color: #fff;  cursor: pointer;  padding: 18px;  width: 100%;  border-top: none;border-right:none;border-left:none; border-bottom: 1px solid #2c937a;  text-align: left;  outline: none;  font-size: 15px;  transition: 0.4s;}
                        .active, .accordion:hover {  background-color: #3b8166;border-top: none;border-right:none;border-left:none; border-bottom: 1px solid #306953;}
                        .accordion:after {  content: '\002B';  color: #fff;  font-weight: bold;  float: right;  margin-left: 5px;}
                        .active:after {  content: "\2212";}
                        .panel {  padding: 0 18px;  background-color: white;  max-height: 0;  overflow: hidden;  transition: max-height 0.2s ease-out;  border-left: 1px solid #ccc;   border-right: 1px solid #ccc;  overflow-y: auto;  overflow-x:hidden;}                            
                        #study-word {border-bottom: 1px solid var(--_border);}
                        textarea {    width:100%;height:300px;    -webkit-border-radius: 10px;    -moz-border-radius: 10px;    border-radius: 10px;    border:solid 1px #ccc;     padding:10px;}   
                        textarea:focus {     outline: none !important;    border-color: #4eab87;    box-shadow: 0 0 10px #4eab87; }                                                                      
                        input{width:100%;    -webkit-border-radius: 10px;    -moz-border-radius: 10px;    border-radius: 10px;    border:solid 1px #ccc;     padding:10px;} 
                        input:focus {     outline: none !important;    border-color: #4eab87;    box-shadow: 0 0 10px #4eab87; }       
                        .btn {  background-color: #4eab87; /* Green */  border: none;  color: white;  padding: 8px 16px;  text-align: center;  text-decoration: none;  display: inline-block;  cursor: pointer;    -webkit-border-radius: 10px;    -moz-border-radius: 10px;  border-radius: 10px;}
                        .btn:hover {  background-color: #3b8166;}      
                        .container {  display: block;  position: relative;  padding-left: 35px;  margin-bottom: 12px;  cursor: pointer;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  }
                        .container input {  position: absolute;  opacity: 0;  cursor: pointer;  height: 0;  width: 0;}
                        .checkmark {  position: absolute;  top: 0;  left: 0;  height: 20px;  width: 20px;  background-color: #eee;}
                        .container:hover input ~ .checkmark {  background-color: #ccc;}
                        .container input:checked ~ .checkmark {  background-color: #4eab87;}
                        .checkmark:after {  content: "";  position: absolute;  display: none;}
                        .container input:checked ~ .checkmark:after {  display: block;}
                        .container .checkmark:after {  left: 6px;  top: 2px;  width: 5px;  height: 10px;  border: solid white;  border-width: 0 3px 3px 0;  -webkit-transform: rotate(45deg);  -ms-transform: rotate(45deg);  transform: rotate(45deg);}
                        .navbar {  overflow: hidden;  background-color: #4eab87;  position: fixed;  top: 0;  width: 100%;box-shadow: 0 4px 6px 0 rgba(0,0,0,.3);}
                        .navbar a {  float: left;  display: block;  color: #f2f2f2;  text-align: center;  padding: 14px 16px;  text-decoration: none;  font-size: 17px;}
                        .navbar #btnUpdate:hover {  background: #3b8166;  color: white;}
                        .content-top{margin-top:45px}
                        	.custom-select:focus { 
                              outline: none !important;
                              border-color: #4eab87;
                              box-shadow: 0 0 10px #4eab87;
                           }
                           .custom-select{
                            background-color:#3b8166;
                            margin-left:10px;
                            padding:5px 5px 5px 10px;
                            border-radius: 10px;
                            margin-top:9px;                           
                            width:auto;
                            border-color: #4eab87;
                  		    border-width: 1px 1px 1px 1px;
                            color:white;
                            float:;  }
                          
                          .select select,	.select option {	border: none;	outline: none;	font-size: 14px;	padding: 5px 5px 5px 5px;	background-color: #4eab87;	color: white;	-webkit-appearance: none; /* for Safari */	margin: 0;	border-radius: 0;	}
 
